{% extends 'base.html' %} {% block content %}


  <div id="tunerframe" style="min-height: 280px; margin-bottom: 45px">
    <div
      id="tunerback"
      style="width: 450px; height: 414px; margin-bottom: 36px"
    >
      <canvas
        id="tunercanvas"
        width="562"
        height="562"
        style="width: 450px; height: 450px"
      ></canvas>
    </div>
  </div>

  <script>
    (function (d, e) {
      var t = d.createElement("script");
      (t.type = "text/javascript"), (t.async = !0), (t.src = e);
      var n = d.getElementsByTagName("script")[0];
      n.parentNode.insertBefore(t, n);
    })(
      document,
      "https://core.tuner-online.com/functions16.js?r=" +
        Math.floor(Math.random() * 10000000).toString() +
        ""
    );
  </script>
</div>




  {% endblock %}

