{% load static %}

<div class="tunner">
    <canvas class="frequency-bars"></canvas>
    <div class="meter">
        <div class="meter-dot"></div>
        <div class="meter-pointer"></div>
    </div>
    <div class="notes">
        <div class="notes-list"></div>
        <div class="frequency"><span>Hz</span></div>
    </div>
    <div class="a4" hidden>A<sub>4</sub> = <span>440</span> Hz</div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/aubiojs"></script>
    <script src="{% static 'js/tuner.js' %}"></script>
    <script src="{% static 'js/meter.js' %}"></script>
    <script src="{% static 'js/frequency-bars.js' %}"></script>
    <script src="{% static 'js/notes.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</div>